*~
*.o
benchmarks/fma
benchmarks/l2-cache-bandwidth
benchmarks/local-transpose
benchmarks/tensor-cores
benchmarks/warp-shuffle
include/gputils/device_mma.hpp
lib/libgputils.a
lib/libgputils.so
loose_ends/bit-mapping
loose_ends/scratch
reverse_engineering/reverse-engineer-mma
tests/test-array
tests/test-sparse-mma

